*.s
Epos2-50-5/CMSIS/*
Epos2-50-5/FWlib/*
Epos2-50-5/Listing/*
Epos2-50-5/Output/*

Epos4-50-15/CMSIS/*
Epos4-50-15/FWlib/*
Epos4-50-15/Listing/*
Epos4-50-15/Output/*
*.bat
*.pc
*.saved_uv4
*.flyleaf
*.ini
*.dbgconf
*.uvoptx
*.uvopt
*.txt
Epos2-50-5/USER/RTE/_Target_1/RTE_Components.h
*.lst
*.o
*.crf
*.d
*.axf
*.uvprojx
*.htm
*.hex
*.map
*.lnp
*.sct
*.dep
*.inc
*.h
*.url
*.od
